h1 {
    font-size: 2rem;
    text-align: center;
    margin: 25px;
}
.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

form {
    margin: 50px 25px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.register-link {
    font-size: 1rem;
    color: #000;
    background-color: rgb(181, 228, 253);
    position: relative;
}

button[type="submit"],
.register-link {
    box-sizing: border-box; /* パディングを含めたサイズ指定 */
    display: block;          /* 幅や高さを正確に反映 */
    text-align: center;
    width: 100%;
    max-width: 160px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
}

.register-link:hover {
    color: #000;
    background-color: rgb(132, 209, 250);

}

.register-link-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-link-item a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="password"] {
        max-width: 90%;
    }

    button[type="submit"] {
        width: 90%;
    }

    .register-link {
        width: 90%;
    }
}