<tr id="task-{{ task.id }}" class="task-item" data-id="{{ task.id }}" data-task="{{ task.task }}"
  data-category="{{ task.category }}" data-priority="{{ task.priority }}" data-created="{{ task.category }}">
  <td class="category" data-label="カテゴリー">{{ task.category }}</td>
  <td class="task" data-label="タスク">{{ task.task }}</td>
  <td class="priority" data-label="優先度">
    {% if task.priority == 1 %}高
    {% elif task.priority == 2 %}中
    {% else %}低
    {% endif %}
  </td>
  <td class="date_created" data-label="作成日">{{ task.date_created }}</td>
  {% if task.is_done == 0 %}
  <td class="actions">
    <a href="/toggle/{{ task[0] }}" class="btn btn-comp">✔️</a>
    <button class="btn btn-edit">✏️</button>
  </td>
  {% else %}
  <td class="actions">
    <a href="/toggle/{{ task[0] }}" class="btn btn-back">✔️</a>
    <a href="/delete/{{ task[0] }}" class="btn btn-del">🗑️</a>
  </td> {% endif %}
</tr>